<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
    <!--Import boostrap CSS -->
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
         {{{ body }}}
    </div>
   
<!--Import boostrap JS -->
<script src="../bootstrapjs/bootstrap.min.js"></script>
</body>
</html>