
<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: #ffff;
    }

    form{
        background-color: antiquewhite;
    }

    .btn{
        font-size: 18px;
        width: 100px;
    }
    
</style>

<form action="/update" method="post" class=" col-12 col-md-6 offset-3 mt-3 border border-2 border-start-0">
<input type="hidden" name="{{id}}">
 <div class="row align-items-center">
  <div class="col">
    <h1 class="text-center">Register</h1>
    <div class="mb-3">
     <label for="form-label">Name</label>
     {{#each client}}
     <input class="form-control" type="text" name="name" placeholder="{{name}}" required>
    </div>
    <div class="mb-3">
     <label for="form-label">Idade</label>
     <input class="form-control" type="number" name="age" placeholder="{{idade}}" required>
    </div>
    <div class="mb-3">
     <label for="form-label">Email</label>
     <input class="form-control" type="email" name="email" placeholder="{{email}}" required>
    </div>
    {{/each}}
    <div class="mb-3">
     <label for="form-label">Password</label>
     <input class="form-control" type="password" name="password" placeholder="********" required> 
    </div>
    <div class="mb-3">
     <input class="btn btn-primary" type="submit" value="Send edit">
    </div>
  </div>
 </div>
</form>
